body{
background-color:white;
}

.resume1{
width:800px;
height:1000px;
background-color:white;
margin-top:2rem;
margin-left:1rem;
margin-bottom:6rem;
font-size:2rem;
}

.proimg{
width:12rem;
height:12rem;
border-radius:50%;
}
.contact{
float:left;
}
.contact i{
font-size:1.5rem;
padding-top:0.7rem;
}

.skills{
font-size:1.6rem;
margin-top:1.5rem;
}
.hname{
text-transform: uppercase;
border-bottom:0.1rem solid black;
}
.hname h3{
font-size:2.5rem;
}
.summary{
margin-top:6rem;
font-size:1.8rem;
}
.sum{
height:14rem;
}
.experience{
margin-top:0.8rem;
font-size:1.8rem;
}
.exp{
height:25rem;
font-size:1.8rem;
}
.project{
margin-top:1.3rem;
font-size:1.8rem;
}
.proj{
height:20rem;
font-size:1.8rem;
}

li{
font-size:1.8rem;
}
h5{
font-size:2.1rem;
}
u{
font-size:2.1rem;
}
.dd{
background-color:lightgray;
height:100vh;
}