{% extends 'base.html' %}
{% load static %}
{% block cont%}
<div class="sheet-index">
    <button class="sheet-btn">Java</button>
     <button class="sheet-btn">Python</button>
     <button class="sheet-btn">PHP</button>
     <button class="sheet-btn">Javascript</button>
     <button class="sheet-btn">SQL</button>
     <button class="sheet-btn">Jquery</button>
     <button class="sheet-btn">Node.js</button>
     <button class="sheet-btn">Hibernate</button>
     <button class="sheet-btn">CSS</button>
     <button class="sheet-btn">HTML</button>
    <button class="sheet-btn">GIT</button>
</div>

<div class="cheatContainer mt-5  container">
    <div class="java">
        <pre data-src="myfile.js" data-download-link data-download-link-label="Download this file" style="border:none; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) inset, 0 8px 20px 0 rgba(0, 0, 0, 0.19);"><code class="language-java">class{
int a=10;
intb=20;
}</code>
</pre>
    </div>

       <div class="java">
        <pre data-src="myfile.js" data-download-link data-download-link-label="Download this file" style="border:none; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) inset, 0 8px 20px 0 rgba(0, 0, 0, 0.19);"><code class="language-python">class{
int a=10;
intb=20;
}</code>
</pre>
    </div>

       <div class="java">
        <pre data-src="myfile.js" data-download-link data-download-link-label="Download this file" style="border:none; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) inset, 0 8px 20px 0 rgba(0, 0, 0, 0.19);"><code class="language-html">class{
int a=10;
intb=20;
}</code>
</pre>
    </div>

       <div class="java">
        <pre data-src="myfile.js" data-download-link data-download-link-label="Download this file" style="border:none; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) inset, 0 8px 20px 0 rgba(0, 0, 0, 0.19);"><code class="language-css">class{
int a=10;
intb=20;
}</code>
</pre>
    </div>

       <div class="java">
        <pre data-src="myfile.js" data-download-link data-download-link-label="Download this file" style="border:none; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) inset, 0 8px 20px 0 rgba(0, 0, 0, 0.19);"><code class="language-git">class{
int a=10;
intb=20;
}</code>
</pre>
    </div>

       <div class="java">
        <pre data-src="myfile.js" data-download-link data-download-link-label="Download this file" style="border:none; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) inset, 0 8px 20px 0 rgba(0, 0, 0, 0.19);"><code class="language-php">class{
int a=10;
intb=20;
}</code>
</pre>
    </div>

       <div class="java">
        <pre data-src="myfile.js" data-download-link data-download-link-label="Download this file" style="border:none; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) inset, 0 8px 20px 0 rgba(0, 0, 0, 0.19);"><code class="language-javascript">class{
int a=10;
intb=20;
}</code>
</pre>
    </div>

       <div class="java">
        <pre data-src="myfile.js" data-download-link data-download-link-label="Download this file" style="border:none; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) inset, 0 8px 20px 0 rgba(0, 0, 0, 0.19);"><code class="language-java">class{
int a=10;
intb=20;
}</code>
</pre>
    </div>

</div>
{% endblock %}

{% block scrip %}
<script src="{% static 'prism.js' %}"></script>
{% endblock %}