{% extends 'base.html' %}
{% load static %}
{% block cont%}
<div class="sheet-index">
    <button class="sheet-btn">Java</button>
    <button class="sheet-btn">Python</button>
    <button class="sheet-btn">PHP</button>
    <button class="sheet-btn">Javascript</button>
    <button class="sheet-btn">SQL</button>
    <button class="sheet-btn">Jquery</button>
    <button class="sheet-btn">Node.js</button>
    <button class="sheet-btn">Hibernate</button>
    <button class="sheet-btn">CSS</button>
    <button class="sheet-btn">HTML</button>
    <button class="sheet-btn">GIT</button>
</div>

<div class="cheatContainer mt-5  container-fluid">
    <div class="java"><h4>To print any statement</h4>
        <pre data-src="myfile.js" data-download-link data-download-link-label="Download this file"
             style="border:none; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) inset, 0 8px 20px 0 rgba(0, 0, 0, 0.19);"><code
                class="language-java">System.out.println("Hello Everyone");</code></pre></div>

    <h5 class="mt-5">To take a input</h5>

    <div class="java mt-5"><h4>DataType in Java</h4>
        <pre data-src="myfile.js" data-download-link data-download-link-label="Download this file"
             style="border:none; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) inset, 0 8px 20px 0 rgba(0, 0, 0, 0.19);"><code
                class="language-java">int in = 10;  // for a integer value

char ch = 'c';  // for a character value

float f = 20.45f;  // for a float value

double dou = 20.00;  // for a double value         </code></pre></div>

     <div class="java mt-5">
        <pre data-src="myfile.js" data-download-link data-download-link-label="Download this file"
             style="border:none; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) inset, 0 8px 20px 0 rgba(0, 0, 0, 0.19);"><code
                class="language-java">long lo = 100000L;  // for a long value

boolean bo = true;   // for a boolean value

byte by = 10;  // for a byte value

short sho = 10000;  // for a short value         </code></pre></div>

    <h5 class="mt-5">To take a input</h5>

    <div class="java mt-5"><h4>To take a input</h4>
        <pre data-src="myfile.js" data-download-link data-download-link-label="Download this file"
             style="border:none; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) inset, 0 8px 20px 0 rgba(0, 0, 0, 0.19);"><code
                class="language-java">// Import a Scanner Class from util package
import java.util.Scanner;

//Create a Object of a Scanner Class
Scanner sc=new Scanner(System.in);

// for a String input call a nextLine() method
String str=sc.nextLine();

// for a int input call a nextInt() method
int in = sc.nextInt();</code></pre></div>

    <div class="java mt-5">
        <pre data-src="myfile.js" data-download-link data-download-link-label="Download this file"
             style="border:none; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) inset, 0 8px 20px 0 rgba(0, 0, 0, 0.19);"><code
                class="language-java">// for a float input call a nextFloat() method
float flo = sc.nextFloat();

// for a double input call a nextDouble() method
double dou = sc.nextDouble();

// for a char input call a nextChar() method
char chr = sc.nextChar();</code></pre></div>

    <h5 class="mt-5">Data type Casting</h5>
    <div class="java mt-5"><h4>convert integer to float</h4>
        <pre data-src="myfile.js" data-download-link data-download-link-label="Download this file"
             style="border:none; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) inset, 0 8px 20px 0 rgba(0, 0, 0, 0.19);"><code
                class="language-java">int x = 3;

float fl = (float) x; </code></pre></div>
        <div class="java mt-5"><h4>convert float to integer</h4>
        <pre data-src="myfile.js" data-download-link data-download-link-label="Download this file"
             style="border:none; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) inset, 0 8px 20px 0 rgba(0, 0, 0, 0.19);"><code
                class="language-java">int x = 3;

float fl = (float) x; </code></pre></div>
        <div class="java mt-5"><h4>convert double to float</h4>
        <pre data-src="myfile.js" data-download-link data-download-link-label="Download this file"
             style="border:none; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) inset, 0 8px 20px 0 rgba(0, 0, 0, 0.19);"><code
                class="language-java">int x = 3;

float fl = (float) x; </code></pre></div>
        <div class="java mt-5"><h4>convert string to float</h4>
        <pre data-src="myfile.js" data-download-link data-download-link-label="Download this file"
             style="border:none; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) inset, 0 8px 20px 0 rgba(0, 0, 0, 0.19);"><code
                class="language-java">int x = 3;

float fl = (float) x; </code></pre></div>
        <div class="java mt-5"><h4>convert Long to float</h4>
        <pre data-src="myfile.js" data-download-link data-download-link-label="Download this file"
             style="border:none; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) inset, 0 8px 20px 0 rgba(0, 0, 0, 0.19);"><code
                class="language-java">int x = 3;

float fl = (float) x; </code></pre></div>

    <h5 class="mt-5">Operator in java</h5>
        <div class="java mt-5"><h4>Operator in java</h4>
        <pre data-src="myfile.js" data-download-link data-download-link-label="Download this file"
             style="border:none; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) inset, 0 8px 20px 0 rgba(0, 0, 0, 0.19);"><code
                class="language-java">int x = 3;

float fl = (float) x; </code></pre></div>

    <h5 class="mt-5">Conditions in java</h5>
        <div class="java mt-5"><h4>Conditions in java</h4>
        <pre data-src="myfile.js" data-download-link data-download-link-label="Download this file"
             style="border:none; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) inset, 0 8px 20px 0 rgba(0, 0, 0, 0.19);"><code
                class="language-java">int x = 3;

float fl = (float) x; </code></pre></div>

        <h5 class="mt-5">loop in java</h5>
        <div class="java mt-5"><h4>loop in java</h4>
        <pre data-src="myfile.js" data-download-link data-download-link-label="Download this file"
             style="border:none; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) inset, 0 8px 20px 0 rgba(0, 0, 0, 0.19);"><code
                class="language-java">int x = 3;

float fl = (float) x; </code></pre></div>

     <h5 class="mt-5">Switch case in java</h5>
        <div class="java mt-5"><h4>Switch case in java</h4>
        <pre data-src="myfile.js" data-download-link data-download-link-label="Download this file"
             style="border:none; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) inset, 0 8px 20px 0 rgba(0, 0, 0, 0.19);"><code
                class="language-java">int x = 3;

float fl = (float) x; </code></pre></div>

       <h5 class="mt-5">Array in java</h5>
        <div class="java mt-5"><h4>Array in java</h4>
        <pre data-src="myfile.js" data-download-link data-download-link-label="Download this file"
             style="border:none; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) inset, 0 8px 20px 0 rgba(0, 0, 0, 0.19);"><code
                class="language-java">int x = 3;

float fl = (float) x; </code></pre></div>

       <h5 class="mt-5">oops in java</h5>
        <div class="java mt-5"><h4>oops in java</h4>
        <pre data-src="myfile.js" data-download-link data-download-link-label="Download this file"
             style="border:none; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) inset, 0 8px 20px 0 rgba(0, 0, 0, 0.19);"><code
                class="language-java">int x = 3;

float fl = (float) x; </code></pre></div>

       <h5 class="mt-5">File handling in java</h5>
        <div class="java mt-5"><h4>File handling in java</h4>
        <pre data-src="myfile.js" data-download-link data-download-link-label="Download this file"
             style="border:none; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) inset, 0 8px 20px 0 rgba(0, 0, 0, 0.19);"><code
                class="language-java">int x = 3;

float fl = (float) x; </code></pre></div>

       <h5 class="mt-5">Java database connection</h5>
        <div class="java mt-5"><h4>Java database connection</h4>
        <pre data-src="myfile.js" data-download-link data-download-link-label="Download this file"
             style="border:none; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) inset, 0 8px 20px 0 rgba(0, 0, 0, 0.19);"><code
                class="language-java">int x = 3;

float fl = (float) x; </code></pre></div>


</div>
{% endblock %}

{% block scrip %}
<script src="{% static 'prism.js' %}"></script>
{% endblock %}