<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'bas.css' %}?{% now 'U' %}">
   <link rel="icon" type="image/png" href="{% static 'za.png' %}"/>
    <title>StudentsArea</title>
</head>
<body>

<!--navbar-->

<div class="head" style="box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19)">

    <nav class="navbar navbar-expand-lg navbar-light"
         style="background-color:rgba(0,0,0,0);box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2) inset, 0 4px 10px 0 rgba(0, 0, 0, 0.19) inset;">
        <a class="navbar-brand a" href="/" style="color:gray">StudentsArea</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link nab" href="/resume">RESUME <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nab" href="/cheatsheet">GUIDE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nab" href="/login">LOGIN</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle nab" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Dropdown link
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/maths">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div class="hcont mt-5">
        <h3 style="display:grid; justify-content:center;">StudentsArea</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing<br>
            Lorem ipsum dolor sit amet consectetur adipisicing<br>
            Lorem ipsum dolor sit amet consectetur adipisicing</p>
    </div>

    <div class="btn-cont">
        <a href="#" class="btnsg btn">SIGN UP</a>
        <a href="#" class="btnlg btn btn-light ">LOGIN</a>
    </div>


</div>


<div class="facts">
    <h2 class="" style="display:grid;justify-content:center;">Fact's</h2>
    <p style="display:grid;justify-content:center;">Lorem ipsum dolor sit amet consectetur adipisicing</p>

    <div class=" container mt-4" style="display:grid;justify-content:center;">
        <div class="row">

            <div class="card-deck">
                {% for i in facts %}
                <div class="col-md-3">
                    <div class="card text-center">
                        <img src="{% static 'fact.png' %}" class="card-img-top fctimg">
                        <div class="card-body" style="font-size:0.9rem;">
                            <p>{{i.facts}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

</div>


<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<!--<footer>-->
<!--  <p> StudentsArea All Rights Reserved</p>-->
<!--</footer>-->
</body>
</html>