
{% extends 'base.html' %}
 {% load static %}
{% block cs %}
  <link rel="stylesheet" href="{% static 'log.css' %}?{% now 'U' %}">
{% endblock %}

{% block cont %}
<div class="container mt-5">
    <div class="text-center">
 <h2 class="hdg">MATHS PROBLEMS</h2>
        </div>
    <div class="row">
        <div class="col-md-12 maths" style="box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);">

            <div class="mt-5" style="display:flex; justify-content:space-around;">
                <button  class=" mbtn">LINEAR EQUATION</button>
                 <button  class=" mbtn">QUADRATIC EQUATION</button>
                <button  class=" mbtn"> &nbsp;MATRICES &nbsp;</button>
                <button  class=" mbtn">DIFFERENTIATION</button>
                <button  class=" mbtn">INTEGRATION</button>

            </div>
            <div class="mt-5" style="display:flex; justify-content:space-around;">
                <button  class=" mbtn">DATA VISUALISATION</button>
                <button  class=" mbtn">TRIGONOMETRY</button>
                <button  class=" mbtn">MENSURATION</button>
                <button  class=" mbtn"> &nbsp; VECTORS &nbsp;</button>
                <button  class=" mbtn">CO-ORDINATE GEOMETRY</button>
            </div>
            <div class="mt-5" style="display:flex; justify-content:space-around;">
                <button  class=" mbtn">LINEAR EQUATION</button>
                <button  class=" mbtn">LINEAR EQUATION</button>
                <button  class=" mbtn">LINEAR EQUATION</button>
                <button  class=" mbtn">LINEAR EQUATION</button>
                <button  class=" mbtn">LINEAR EQUATION</button>
            </div>

        </div>
    </div>
</div>

{% endblock %}