
{% extends 'base.html' %}
 {% load static %}
{% block cs %}
  <link rel="stylesheet" href="{% static 'log.css' %}?{% now 'U' %}">
{% endblock %}

{% block cont %}
<div class="container mt-5">
    <div class="text-center">
 <h2 class="hdg">MATHS PROBLEMS</h2>
        </div>
    <div class="row">
        <div class="col-md-12 maths" style="box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);">

            <div class="mt-5" style="display:flex; justify-content:space-around;">
                <a href="/linear"  class="btn mbtn">LINEAR EQUATION</a>
                 <a href="#"  class="btn mbtn">QUADRATIC EQUATION</a>
                <a href="#"  class="btn mbtn"> &nbsp;MATRICES &nbsp;</a>
                <a href="#"  class="btn mbtn">DIFFERENTIATION</a>
                <a href="#"  class="btn mbtn">INTEGRATION</a>

            </div>
            <div class="mt-5" style="display:flex; justify-content:space-around;">
                <a href="/datavisu"  class=" btn mbtn">DATA VISUALISATION</a>
                <a href="#"  class="btn mbtn">TRIGONOMETRY</a>
                <a href="#"  class=" btn mbtn">MENSURATION</a>
                <a href="#"  class=" btn mbtn"> &nbsp; VECTORS &nbsp;</a>
                <a href="#"  class=" btn mbtn">CO-ORDINATE GEOMETRY</a>
            </div>
            <div class="mt-5" style="display:flex; justify-content:space-around;">
                <a href="#"  class="btn mbtn">LINEAR EQUATION</a>
                <a href="#"  class="btn mbtn">LINEAR EQUATION</a>
                <a href="#"  class="btn mbtn">LINEAR EQUATION</a>
                <a href="#"  class="btn mbtn">LINEAR EQUATION</a>
                <a href="#"  class="btn mbtn">LINEAR EQUATION</a>
            </div>

        </div>
    </div>
</div>

{% endblock %}